body {
    padding: 100px;
    background-color: rgb(156, 158, 196);
    margin: 20px;
}

.container {
    padding-top: 8px;
}

img {
    border-radius: 10px;
    position: absolute;
    max-width: 500px;
    max-height: 450px;


}

.box {
    width: 300px;
    height: 50px;
    background-color: rgb(255, 239, 177);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -15px;
    position: relative;



}

.box p {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px 10px 18px;

}

.box2 {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 450px;
    padding-top: 140px;
}

.box2 p {
    font-size: 20px;
    line-height: 28.8px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;


}

h1 {
    padding-top: 190px;
    padding-left: 30px;
}

span {
    font-size: 22px;
    font-weight: lighter;
}